#patient-care-carddeck {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.card {
    min-width: 250px;
    overflow: visible;
}

#patient-care-title {
    font-size: 2rem;
    float: left;
    margin: 30px 0px 30px 0px;
    text-align: left;
    margin-left: 15px;
}

#patient-care-container {
    width: 100%;
    height: 100%;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    #patient-care-container {
        padding: 0px
    }
}

@media (max-width: 900px) {
    #patient-care-carddeck {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .card {
        margin: 20px auto;
        width: calc(100% - 30px);
    }

    #patient-care-title {
        text-align: center;
    }

    #patient-care-container {
        padding: 0px
    }
}