#container {
    background-color: rgba(207, 207, 207, .5);
    margin: 20px auto;
    width: 30vw; 
    display: flex; 
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 40px;
}

#title {
    font-size: 3rem;
}

.row {
    margin: 5px;
}

.form-control {
    padding: 20px;
}


.form-label {
    float: left;
}

.form-group {
    margin: 5px;
}

#button-group {
    width: 100%;
}