* {
    font-family: Verdana, Geneva, sans-serif
}

.nav-logo {
    display:flex;
    height: 50px;
    width: 50px;
    padding: 10%;
}

.nav-item {
    font-size: 1em;
    margin: auto 10px;
}

.navbar-nav .nav-link {
    font-weight: bold;
    white-space: nowrap;
}

.main.navbar-nav.nav-link:hover {
    color: white !important;
}

#main-navbar {
    -webkit-box-shadow: 0px 4px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px -5px rgba(0,0,0,0.75);
}
